.flex-col {
	display: flex;
	flex-direction: column;
}

.modal-backing {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	opacity: 0.3;
	z-index: 1;
}

.modal {
	width: 20em;
	height: 30em;
	background-color: white;
	border-radius: 2px;
	padding: 1em;
}

.buttons-container {
	display: flex;
}
